*{
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
  background-color:#000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container{
  width: min(70rem, 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.445);
}
.home{
  width: 100%;
  background-color:#000000;
  display: flex;
  position: relative;
  padding: 0.5rem;
}
#log{
 position: absolute;
 right: 1rem;
 cursor: pointer;
}

